body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}
.search img{
margin-left: 10px;
position: relative;
left: 110px;
top: 5px;

}
.logo img{
    padding: 0px;
    margin-left: 20px;
}
.navbar ul{
    display: flex;
    text-decoration: none;

}
.navbar a{

padding: 0px 10px;
justify-content: space-around; 
text-decoration: none;
font-size: larger;
}
.navbar a:hover{
    color: rgba(250, 14, 14, 0.875);
}
.navbar input{
    justify-content: left;
    padding: 10px 50px;
}
.navbar button{
    color: white;
    background-color: blue;
    padding: 10px 10px;
}
.links button{
   color: whitesmoke;
    background-color: rgba(160, 160, 230, 0.41);
}
.content p{
    background-color: rgb(197, 244, 244);
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

.structure button{
    padding: 30px 30px;
    color: white;
    background-color: rgba(26, 26, 218, 0.829);
    margin-top: 170px;
    margin-left: 100px;
    font-size: 20px;
}
.bodystru h1{
    
    font-style: normal;
    font-size: 50px;
  position: relative;
  left: 100px;
}
.bodystru p{
font-size: large;
position: absolute;
left: 100px;
}
.images{
    position: absolute;
    left: 820px;
    top: 190px;
}