body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    background-color: rgb(51, 53, 69);
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.logo{
    display: flex;
    
}
.logo input{
    width: 500px;
    margin-left: 20px;
    border: 0;
    border-radius: 6px;
    padding-left: 35px;
}
.links a{
    text-decoration: none;
    color: gainsboro;
    margin: 0px 15px;
}
.links a:hover{
    color: white;
}
.links button{
    border: 0;
    /* background-color: rgb(248, 68, 100); */
    background: linear-gradient(blue,red,white);
    border-radius: 4px;
    padding: 6px 12px;
}
.carousel{
    background-color: lightgray;
}
.carousel img{
margin: 10px 5px;
border-radius: 5px;
}
.title h2{
color: rgb(51, 51, 51);
}
.movies img{
    width: 220px;
    height: 378px;
    border-radius: 8px;
    transition: 0.5s;
    position: relative;
    top: 50px;
}
.movies img:hover{
    transform: translateY(-200px)
}
.movies{
    display: flex;
    justify-content: space-between;
    padding: 0px 65px;
}