body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}
.navbar a{
    margin: 0px 40px;
    text-decoration: none;
}
.navbar a:hover{
   color: rgba(240, 40, 40, 0.895);
}
.search input{
    padding: 10px 30px;
}
.search img{
    position: relative;
    left: 30px;
    top: 5px;
}
.containt h1{
    position: relative;
    top: 50px;
    margin-left: 40px;
    font-size: 40px;
}
.containt p{
    position: relative;
    top: 50px;
    margin-left: 40px;
}
.images img{
   position: relative;
    left: 830px;
    bottom: 150px;
}
.open button{
    padding: 20px 40px;
    background-color: rgba(22, 22, 229, 0.655);
    color: white;
    position: relative;
    bottom: 350px;
    left: 200px;
}