body{
    margin: 0;
}
.tesla{
    background-image: url(tesla.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar li{
    display: inline-block;
    margin: 0px 15px;
    margin-left: 0 8px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   padding: 6px 10px;
    transition: 1s;
}
.links1{
    margin-left: 130px;
}
.navbar a:hover{
    background-color: rgb(236, 224, 224);
    
    border-radius: 3px;

}
.title,.form,.buttons{
    text-align: center;
}
.title h1{
    font-size: 40px;
    margin-bottom: 5px;
}
.title a{
    color: black;
    font-size: 20px;
}
.form{
    display: flex;
    margin-top: 250px;
  justify-content: center;
}
.buttons button{
    border: 0;
    padding: 8px 85px;
    border-radius: 4px;
}
.form input{
    height: 40px;
    width: 400px;
    border: 0;
   
}
.form button{
    border: 0;
    font-size: 16px;
    padding: 0px 15px;
}
.button button{
    border: 0;
    padding: 8px 85px;
    border-radius: 4px;
}
#btn1{
    background-color: black;
    color: white;
}
#btn2{
    background-color: whitesmoke
    color: black;
}